REACT_APP_API_URL=http://localhost:8080/api
REACT_APP_SUPABASE_URL=https://fljcdmsvpcejeiblyyql.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsamNkbXN2cGNlamVpYmx5eXFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NTQ0OTksImV4cCI6MjA4NzQzMDQ5OX0.RiI4Jq8H40kb-nxzGBmUol4QpZ587_bpCQhT1bKl1J8
REACT_APP_SUPABASE_PROFILE_BUCKET=camp_profile
